# Blacklist the highest level directory with /*
/*

# Whitelist the files that should be part of the respository.
!.github
# Note:
# Do not use single or double asteriks at the end. They are not working properly.
# To ignore all files in a dir recursively just add / at the end.
!src/
src/main/resources/static/client/
!.editorconfig
!.gitignore
!.mvn
!deploy-infrastructure-stacks.*
!docker-compose.yml
!docker-compose-postgres.yml
!docker-compose-redis.yml
!Dockerfile
!GIT-GITHUB-GPG-SETUP.md
!LICENSE
!pom.xml
!prune-all-images.*
!README.md
!remove-infrastructure-stacks.*
