# Ignore everything at the root by default
/*

# Whitelist essential folders and files
!.github
!.run
!src/
!src/main/
!src/main/resources/
!src/main/resources/static/
!src/main/resources/static/client/
!.editorconfig
!.gitattributes
!.gitignore
!.mvn
!deploy-infrastructure-stacks.*
!dev-env.properties
!docker-compose.yml
!docker-compose-postgres.yml
!docker-compose-redis.yml
!Dockerfile
!GIT-GITHUB-GPG-SETUP.md
!GIT_SETUP.md
!LICENSE
!pom.xml
!prune-all-images.*
!README.md
!remove-infrastructure-stacks.*

# ------------------------------
# Ignore only Next.js build artifacts inside static/client
# ------------------------------
src/main/resources/static/client/node_modules/
src/main/resources/static/client/.next/
src/main/resources/static/client/out/
src/main/resources/static/client/.turbo/
src/main/resources/static/client/.env*
src/main/resources/static/client/.DS_Store
