# Blacklist the highest level directory with /*
/*

# Whitelist the files that should be part of the respository.
!.github
!.run
# Note:
# Do not use single or double asteriks at the end. They are not working properly.
# To ignore all files in a dir recursively just add / at the end.
!src/
src/main/resources/static/client/
!.editorconfig
!.gitattributes
!.gitignore
!.mvn
!create-promptchain-db-user.*
!dev-env.properties
!docker-compose.yml
!docker-compose-postgres.yml
!docker-compose-redis.yml
!Dockerfile
!GIT-GITHUB-GPG-SETUP.md
!GIT_SETUP.md
!LICENSE
!pom.xml
!prune-all-images.*
!README.md
!start-postgres-container.*
!start-redis-container.*
!stop-postgres-container.*
!stop-redis-container.*
